select {
    font-family: var(--font-zilla-slab);
    font-size: var(--font-size-medium);
    border: var(--border-text);
    border-radius: 0.5rem;
    background-color: var(--color-crust);
    color: var(--color-text);
    padding: 0.2rem 0.5rem;
    transition: var(--transition-ease);
    cursor: pointer;
}

select:hover {
    border-color: var(--color-blue);
}

img {
    width: 4rem;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}

button {
    font-family: var(--font-zilla-slab);
    font-size: var(--font-size-medium);
    cursor: pointer;
    color: var(--color-text);
}

#item-select {
    cursor: pointer;
}

#item-select-amount,
#item-input {
    align-items: center;
    padding: 0.2rem 0.5rem;
    border: var(--border-text);
    border-radius: 0.5rem;
    font-size: var(--font-size-medium);
    transition: var(--transition-ease);
    background-color: transparent;
    appearance: textfield;
    width: 12rem;
    height: 2.6rem;
    font-family: var(--font-zilla-slab);
    color: var(--color-text);
}

#item-select-amount:hover,
#item-input:hover {
    border-color: var(--color-blue);
}

#item-select-amount:focus-visible,
#item-input:focus-visible {
    outline: none;
    border-color: var(--color-blue);
}

#item-select-amount::placeholder,
#item-input::placeholder {
    color: var(--color-subtext);
}

#item-select-amount::-webkit-inner-spin-button,
#item-select-amount::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

#control-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

#controls {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

#schematic-controls {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: var(--border-text);
    border-radius: 0.5rem;
    font-size: var(--font-size-medium);
    transition: var(--transition-ease);
    background-color: var(--color-mantle-dark);
    flex-wrap: wrap;
    width: fit-content;
}

#schematic-controls > div {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

label {
    font-family: var(--font-zilla-slab);
    font-size: var(--font-size-small);
    color: var(--color-text);
}

#schematic-label {
    height: 2.6rem;
    width: 20rem;
    display: flex;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition-ease);
}

#schematic {
    opacity: 0;
    width: 0;
    height: 0;
}

#schematic-label:has(> span:hover) {
    border-color: var(--color-blue);
}

#schematic-label > span.first {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 0 0.5rem;
    border-left: var(--border-text);
    border-top: var(--border-text);
    border-bottom: var(--border-text);
    border-radius: 0.5rem 0 0 0.5rem;
    border-color: inherit;
    transition: var(--transition-ease);
}

#schematic-label > span.second {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.5rem;
    background-color: var(--color-crust);
    height: 100%;
    border-radius: 0 6px 6px 0;
    border-top: var(--border-text);
    border-bottom: var(--border-text);
    border-right: var(--border-text);
    border-color: inherit;
    transition: var(--transition-ease);
}

#schematic-label.selected > span.second {
    border-radius: 0;
    border-right: none;
}

#schematic-label.selected:hover > button {
    border-left-color: var(--color-blue);
}

#schematic-label > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-overlay);
    color: var(--color-text);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: var(--transition-ease);
    height: 100%;
    width: 0;
    font-size: 0;
    padding: 0;
    font-family: var(--font-zilla-slab);
}

#schematic-label.selected > button {
    width: 1rem;
    font-size: var(--font-size-small);
    padding: 0 1rem;
    border: var(--border-text);
}

#schematic-label > button:hover {
    color: var(--color-blue);
    border-color: var(--color-blue);
}

.btn {
    padding: 0;
    border: var(--border-text);
    border-radius: 0.5rem;
    transition: var(--transition-ease);
    background-color: var(--color-crust);
    width: 10rem;
    height: 2.6rem;
}

.btn:hover {
    border: var(--border-blue);
}

.dialog-btns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#start {
    background-color: var(--color-blue);
    color: var(--color-base);
}

#start:hover {
    border-color: var(--color-text);
}

#items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: var(--transition-ease);
    border: var(--border-text);
    border-radius: 0.5rem;
    font-size: var(--font-size-small);
    font-family: var(--font-zilla-slab);
}

.item-text {
    display: flex;
    flex-direction: column;
}

.item > button {
    width: 1.8rem;
    aspect-ratio: 1 / 1;
    border: var(--border-text);
    background-color: transparent;
    color: var(--color-text);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition-ease);
    font-family: var(--font-zilla-slab);
    font-size: var(--font-size-small);
    margin-left: 0.5rem;
}

.item > button:hover {
    background-color: var(--color-blue);
    color: var(--color-base);
}

.separator {
    width: 100%;
    padding: 0.2rem 0.5rem;
    margin-top: 2rem;
    font-size: var(--font-size-large);
    font-family: var(--font-zilla-slab);
}

#sample {
    width: 12rem;
}

#spinner {
    width: 4rem;
    height: 4rem;
    display: none;
    margin: 0 auto;
}

#spinner:after {
    content: " ";
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 32rem) {
    .item {
        width: 100%;
    }

    .item button {
        margin-left: auto;
    }
}

@media (max-width: 22.5rem) {
    #schematic-label {
        width: 16rem;
    }
}
