select {
    font-family: var(--font-inter);
    font-size: var(--font-size-medium);
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--color-text);
    padding: 0.2rem 0.5rem;
    transition: var(--transition-ease);
    cursor: pointer;
}

select:hover {
    border-color: var(--color-blue);
}

img {
    width: 4rem;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}

#item-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    width: 24rem;
    height: 4rem;
    overflow: hidden;
    transition: var(--transition-ease);
}

#item-select:hover {
    border-color: var(--color-blue);
    overflow-y: scroll;
    height: 24rem;
}

#item-select:hover > button {
    display: block flex;
}

#item-select > button > img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
}

#item-select > button {
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: var(--font-zilla-slab);
    font-size: var(--font-size-medium);
    text-align: left;
    background-color: transparent;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    padding: 0;
    border-bottom: 2px solid var(--color-text);
    /*transition: var(--transition-ease);*/
}

#item-select > button:last-child {
    border-bottom: none;
}

#item-select > button:hover {
    background-color: var(--color-blue);
    color: var(--color-base);
}

#item-select > button.selected {
    display: block flex;
    border-bottom: none;
}

#item-select:hover > button.selected {
    border-bottom: 2px solid var(--color-text);
    background-color: var(--color-blue);
    color: var(--color-base);
}

#item-select-amount {
    align-items: center;
    padding: 0.5rem 0.2rem;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    font-family: var(--font-jetbrains-mono);
    font-size: var(--font-size-medium);
    transition: var(--transition-ease);
    background-color: transparent;
    color: var(--color-text);
    appearance: textfield;
    width: 16rem;
}

#item-select-amount:hover {
    border-color: var(--color-blue);
}

#item-select-amount:focus-visible {
    outline: none;
    border-color: var(--color-blue);
}

#item-select-amount::placeholder {
    color: var(--color-subtext);
}

#item-select-amount::-webkit-inner-spin-button,
#item-select-amount::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.item-select-btn {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    font-family: var(--font-zilla-slab);
    font-size: var(--font-size-medium);
    transition: var(--transition-ease);
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    width: 12rem;
}

.item-select-btn:hover {
    background-color: var(--color-blue);
    color: var(--color-base);
}

#items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: var(--transition-ease);
    cursor: pointer;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    font-size: var(--font-size-small);
    font-family: var(--font-zilla-slab);
}

.item-text {
    display: flex;
    flex-direction: column;
}

.separator {
    width: 100%;
    padding: 0.2rem 0.5rem;
    margin-top: 2rem;
    font-size: var(--font-size-large);
    font-family: var(--font-zilla-slab);
}

#sample {
    width: 12rem;
}

#spinner {
    width: 4rem;
    height: 4rem;
    display: none;
}

#spinner:after {
    content: " ";
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
