select {
    font-family: var(--font-inter);
    font-size: var(--font-size-medium);
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--color-text);
    padding: 0.2rem 0.5rem;
    transition: var(--transition-ease);
    cursor: pointer;
}

select:hover {
    border-color: var(--color-blue);
}

img {
    width: 4rem;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}

#items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: var(--transition-ease);
    cursor: pointer;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    font-size: var(--font-size-small);
    font-family: var(--font-zilla-slab);
}

.item-text {
    display: flex;
    flex-direction: column;
}

.separator {
    width: 100%;
    padding: 0.2rem 0.5rem;
    margin-top: 2rem;
    font-size: var(--font-size-large);
    font-family: var(--font-zilla-slab);
}
